.colorBg {
  background: linear-gradient(#bbccee, #f5aa2f);
}

.imgFromGlobalCSS {
  background-image: url('/src/media/bg2.png');
  background-size: contain;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 0.5em;
}
